@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #111111;
}

body {
  background-color: #111111 !important; /* Force dark background for desktop viewer */
  color: #111111;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom scrollbars for clean UI */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}
